@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto-flex), system-ui, sans-serif;
  --color-celeste: hsl(194, 88%, 52%); /* rgb(22, 191, 241) */
  --color-azul-oscuro: hsl(225, 100%, 20%); /* rgb(0, 26, 102) */

  --color-primary: var(--color-celeste);
  --color-secondary: var(--color-azul-oscuro);

  --color-background: white;
  --color-foreground: var(--color-secondary);
  --color-primary-foreground: white;
  --color-secondary-foreground: white;

  --color-border: color-mix(in srgb, var(--color-secondary), transparent 90%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225 100% 20%;
    --primary: 194 88% 52%;
    --secondary: 225 100% 20%;
  }

  body {
    @apply bg-background text-foreground antialiased transition-colors duration-300;
  }
}
